<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input class="form-group" type="text" [(ngModel)]="username"/>
      <p>
        {{username}}
      </p>
     </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" [disabled]="!username" (click)="onChangeUsername()">Add Server</button>
       </div>
  </div>
</div>

<p>
  Why did you choose the approach you took?
</p>
<p>
<strong>Answer:</strong>  These were the skills learned in the course
</p>
<p>
  Which problems did you encounter?
</p>
<p>
  <strong>Answer:</strong>I did not find any problem, yeah!
</p>
